*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container{
  width: 1300px;
  margin: 0 auto;
}

header{
  position: relative; /* for absolute children */
  height: 523px;
  background-image: url('http://unsplash.it/1300/523/');
}

header:before
      {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, 0.6);
}

header nav {
  position: relative;
  padding-right: 195px;
  font-size: 18px;
  padding-top: 10px;
  margin-left: 137px;
}

.brand{
  position: relative;
  color: #083451;
  display: inline;
}

.brand img.logo {
  position: absolute;
}

.brand span.company-name{
  position: relative;
  vertical-align: middle;
  text-transform: uppercase;
  color: #083451;
  padding-left:56px;
  font-size: 16px;
  text-decoration: none;
  line-height: 2.8;
}

nav ul{
  position: relative;
  display: inline-block;
  list-style: none;
  float:right;
  margin:0;
  padding-left:0px;
  line-height:2.3;
}

nav ul.main-nav {
  word-spacing: 8px;
}

nav li{
  position:relative;
  display: inline-block;
}

ul.main-nav a {
  position: relative;
  color: #083451;
  text-decoration: none;
  font-family: 'Oswald';
  text-transform: uppercase;
}

ul.main-nav img {
  display: inline-block;
  position:absolute;
  width:16px;
  left:125px;
  bottom: 16px;

}
header h1, header h3{
  position: relative;
  text-align: center;
}

header h1{
  font-family: 'OpenSans';
  color: #FFF;
  font-family: 'Myriad Pro';
  text-transform: uppercase;
  font-size: 110px;
  margin:0;
  height: 110px;
  padding-top:154px;
  padding-right:8px;
  font-weight: 100;
}

header h3 {
  color: #083451;
  margin:0;
  font-size: 16px;
  padding-top: 108px;
  padding-right: 9px;
  font-weight: 400;
}
/*  SECTION 2:COLUMN 1 styling */

article {
  display: inline-block;
}

div .column-1{
  display: inline-block;
  width: 62%;;
  vertical-align: top;
  margin-top: 0px;
  padding-left: 163px;
  padding-right: 25px;
  position: relative;
}

article .column-1 h1 {
  color:#083452;
  font-family:'Oswald';
  font-size: 62px;
  text-align: left;
  margin-top:60px;
  padding-top: 0px;
  height: 150px;
  vertical-align: bottom;
  line-height: 117%;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-weight: 100;
  word-spacing:-2px;
}

article .column-1 h4 {
  color:#1870B4;
  font-family: 'Open Sans';
  font-size: 12px;
  margin: 0px;
  text-align: left;
  vertical-align: top;

}

article .column-1 .date {
  color: #A3B2BE;
  padding-left: 10px;
}

article .column-1 h4 img {
  width: 40px;
  vertical-align: middle;
  padding-right: 10px;
}

p {
  color: #596169;
  font-family: 'Open Sans';
  line-height: 1.7em;
  font-size: 15px;
  margin-top: 31px;
  margin-bottom: 30px;
}

p .chicmixtape {
  text-decoration: underline;
  color: #A3B3BF;
}

article .column-1 h2 {
  color: #0B6AB1;
  text-transform: uppercase;
  font-family: 'Open Sans';
  padding-left: 25px;
  margin-top: 30px;
  font-size: 1.7em;
  word-spacing: -3px;
}

article .column-1 h2::before {
  position: absolute;
  width:2px;
  background-color:#D3D3D3;
  content: "";
  top:490px;
  bottom:0;
  left:168px;
  height: 60px;
}

.third-paragraph a.aliqua-rollover {
  color: #0968B0;
  text-decoration: underline;
}

p.fourth-paragraph {
  margin-bottom: 25px;
}

.read-comments {
  display: inline-block;
  width: 159px;
  height: 30px;
  background-color: #A3B3BF;
  text-align: middle;
  vertical-align: center;
  margin-right: 6px;
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 13px;
}

.read-comments i {
  background-color: #5E686F;
  color: #FFF;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.read-later {
  display: inline-block;
  width: 129px;
  height: 30px;
  background-color: #A3B3BF;
  text-align: middle;
  vertical-align: center;
  margin-right: 4px;
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 13px;
}

.read-later i {
  background-color: #5E686F;
  color: #FFF;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.share-this-post {
  display: inline-block;
  width: 155px;
  height: 30px;
  background-color: #106DB3;
  text-align: middle;
  vertical-align: center;
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 13px;
}

.share-this-post i {
  background-color: #083452;
  color: #FFF;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}


/* SECTION 2: COLUMN 2 styling */

div .column-2{
  display: inline-block;
  width: 30%;
  margin-top: 70px;
  margin-left: 25px;
  padding-right: 60px;
}

.column-2 img.second-image {
  padding-left: 115px;
  height: 85px;
  margin-top: 15px;
}

.column-2 h4.AM {
  text-transform: uppercase;
  color: #106DB3;
  font-family: 'Open Sans';
  text-align:center;
  margin: 0;
}

.column-2 nav a {
  color: #A2B2BD;
  font-family:'Open Sans';
  font-size: 14px;
  word-spacing: 10px;
  text-align: center;
  padding-top:0;
}

.column-2 img.girl {
  margin-top: 50px;
  margin-left: 20px;
}

span a {
  color: #A2B2BE;
  text-decoration: underline;
  font-family: 'Open Sans';
  font-size: 13px;
  padding-left: 210px;
  line-height: 2;
}

article .column-2 h4.ssh {
  color: #0E6CB2;
  text-transform: uppercase;
  font-family: 'Oswald';
  margin: 40px 0 0 20px;
  font-size: 18px;
}

p.last-paragraph {
  margin-top: 5px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.7em;
  padding-right: 20px;
  color: #A3B3BF;
}

a.chic-mixtape {
  color: #A3B3BF;
}


/*  END OF SECTION 2 STYLING */

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #E1E7EA;
  margin-top: 68px;
  margin-bottom:0px;
}


/*  BEGINNING OF SECTION 3 STYLING  */

ul.section-3 {
  display: block;
  padding:0;
  margin-bottom: 0px;
  list-style: none;
  position:relative;
}

ul.section-3 h1 {
  color:#083452;
  font-family: 'Oswald';
  font-size: 65px;
  word-spacing: -5px;
  margin:21px 6px 0 0;
  text-align: center;
  padding-top: 6px 11px 0 28px;
  text-transform: uppercase;
  padding-bottom: 45px;
  list-style:none;
}


/*  ROW OF PICTURES STYLING */

.pic-1,
.pic-2,
.pic-3,
.pic-4 {
  display: inline-block;
  width:324px;
  color: #083452;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size:30px;
  background-image: url('http://unsplash.it/1300/523/');
  margin-top: -20px;
  margin-bottom: 0px;
  text-align: left;
  padding-left: 16px;
  vertical-align: top;
  height: 330px;
  padding-top: 280px;
}

.pic-2 {
  color: #FFF;
}

div.images {
  position:relatve;
}

div .images:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, 0.6);
}



.pic-3 {
  padding-top: 240px;
  padding-left:18px;
}

.pic-4 {
  padding-left:20px;
}


/*  FOOTER STYLING */
.very-bottom {
  background-color: #083452;
  height: 83px;
  color: #A3B3BF;
  font-family: 'Open Sans';
  font-size: 13px;
  padding: 35px 155px 0 180px;
}

.very-bottom img {
  vertical-align: middle;
  width: 30px;
}

.very-bottom nav {
  float: right;
  vertical-align:middle;

}

.very-bottom nav a {
  color: #A3B3BF;
  text-decoration: none;
  border-right: 1px solid #A3B3BF;
  padding-left:8px;
  padding-right:8px;
}

.very-bottom nav a.last-nav {
  border-right: 1px solid #083452;
}
